* {
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --azulPrincipal: #3498db;
  --azulDetalles: #01579b;
  --amarilloNota: #FFFF99;
  --azulClaro: #EBF5FB;
}

body {
  width: 100%;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, p, ol, ul, table {
  margin: 1rem 0; 
  padding: .5rem;
}

table {
  margin: 5rem auto;
  border-collapse: collapse;
}
  caption {
    text-align: left;
    margin-bottom: 1rem;
  }
  th {
    color: var(--azulClaro);
    padding: .3rem 1.2rem;
    border: 3px dashed var(--azulDetalles);
    border-right: 3px dashed var(--azulClaro);
    background-color: var(--azulDetalles);
  }
    th:last-child { border-right: 3px dashed var(--azulDetalles);}
  td {
    color: var(--azulDetalles);
    border: 3px dashed var(--azulDetalles);
    background-color: var(--azulClaro);
  }

ol, ul {
  padding-left: 2rem;
  background-color: var(--azulClaro);
}

li, td {
  padding: .5rem;
}

footer {
  background-color: var(--azulDetalles);
  min-height: 50px;
  margin-top: .5rem;
  color: #D0D3D4;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CLASES */
.contenedorApuntes { width: 60%; margin: auto;}
.tituloPrincipal {
  font-weight: 800;
  background-color: var(--azulPrincipal);
  color: white;
  margin-bottom: 2rem;
  margin-top: 0;
}

.tituloTema {
  border-left: 10px solid var(--azulDetalles);
  color: var(--azulPrincipal);
}

.subTitulo {
  margin-top: 5rem;
  color: var(--azulPrincipal);
  border-top: 5px solid var(--azulDetalles);
}

.apartado {
  margin-top: 2rem;
  margin-bottom: 0;
  padding: .5rem 2rem .5rem .5rem;
  display: inline-block;
  color: var(--azulClaro);
  background-color: var(--azulDetalles);
}

.nota {
  width: 92%;
  margin: auto;
  padding: 1rem;
  background-color: var(--amarilloNota);
  font-size: 1.1rem;
  font-weight: bold;
  font-style: italic;
}

.menuOpcional {
  
  display: flex;
  gap: .5rem;
}
  .botonO {
    background-color: darkorange;
    color: white;
    font-weight: bold;
    padding: .3rem 1.2rem;
  }

/***********************************************/
@media screen and (max-width: 1280px){ 
  .contenedorApuntes { width: 70%;}
}
@media screen and (max-width: 1024px){ 
  .contenedorApuntes { width: 80%;}
}
@media screen and (max-width: 800px){ 
  .contenedorApuntes { width: 90%;}
}
@media screen and (max-width: 480px){ 
  .contenedorApuntes { width: 100%;}
  table {
    margin: 1rem auto;
  }
  .tituloTema { 
    border: none;
    padding-left: .2rem;
  }
}