/*************************************************************************************/
/* RESET                                                                             */
/*************************************************************************************/
* {
  box-sizing: border-box; 
  text-decoration: none;
  margin: 0;
  padding: 0;
  scrollbar-width: 5px;
  scrollbar-color: #FF6F00;
}
*::-webkit-scrollbar {
  width: auto;
}
*::-webkit-scrollbar-track { /*carril de la barra*/
  background: var(--aguamar);
}
*::-webkit-scrollbar-thumb { /*la almohadilla de la barra*/
  background-color: var(--tipografiaClara);
}
/*************************************************************************************/
/* SEMANTICAS                                                                        */
/*************************************************************************************/
:root {
  --fondoGris: #212121;
  --fondoOscuro: #151515;
  --tipografiaClara: #E5E7E9;
  --aguamar: #3498db;
  --azulGrisaceo: #2980B9;
  --morado: #8E44AD;
  --mostaza: #F1C40F;
}

body {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  font-size: 1.5rem;
  background-color: var(--fondoGris);
  color: var(--tipografiaClara);
}
/*****************************************/
/* CABECERA */
/* Contenedor para navtop, menuPrincipalAsignatura y el titúlo del tema */
/*****************************************/
header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 200px;
  font-family: 'Titan One', cursive;
  font-weight: 100;
}

section {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  margin: 0 auto;
}

article { 
  width: 100%;
  margin: 1rem auto;
}
/*****************************************/
/* ENCABEZADOS */
/*****************************************/
h1, h2, h3, h4, h5, h6 {
  font-family: 'Titan One', cursive;
  font-weight: 100;
}

h1, h2 {margin-bottom: 2rem;}
h3, h4 {margin-bottom: 1rem;}
h5, h6 {margin-bottom: .5rem;}

b {
  color: var(--morado);
  font-style: italic;
}
/*****************************************/
/* PARRAFO */
/*****************************************/
p {
  margin-bottom: 1rem;
  padding: 1rem auto;
}
/*****************************************/
/* TEXTO SIN FORMATO - CODIGO */
/*****************************************/
pre {
  background-color: var(--fondoOscuro);
  overflow-x: auto;
  border-width: 3px;
  border-style: solid;
  border-color: greenyellow #FF6F00 #FF6F00 greenyellow;
  
}

code {
  position: relative;
  left: -10%;
}
/*****************************************/
/* ENLACES */
/*****************************************/
a {color: var(--tipografiaClara);}
/*****************************************/
/* LISTAS */
/*****************************************/
ul, ol {
  margin: 1rem 0 2rem;
  list-style-position: inside;
}

ul { list-style-type: square;}

  li ul {
    margin-left: 5%;
  }

  li {margin: .5rem 0;}
  ul li::marker {
    color: var(--aguamar); 
    font-size: 1.5rem;
  }
/*****************************************/
/* TABLAS */
/*****************************************/
table {
  margin: 2rem auto;
  border-collapse: collapse;
}
  caption {
    text-align: center;
    font-weight: bold;
    background-color: rgba(52, 152, 219, .5); 
    border: 2px dashed var(--aguamar);
    border-bottom: none;
  }
  tr {
    border: 2px dashed var(--aguamar);
  }
  th, td {
    padding: .5rem 1.5rem;
    border: 2px dashed var(--aguamar);
  }
/*****************************************/
/* IMAGENES */
/*****************************************/
img {
  display: block;
}
/*************************************************************************************/
/* CLASES                                                                            */
/*************************************************************************************/
/*HEADER*/
/*****************************************/
.navtop { /* Barra superior */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding: .8rem 10%;
  background-color: var(--aguamar);
}

.menuPrincipalAsignatura { /* Menú de temas */
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: .5rem 1rem; 
}
    .menuPrincipalAsignatura a {
      padding: .5rem 1rem;
    } 
        .menuPrincipalAsignatura a:hover {
          background-color: var(--aguamar);
        }

.tituloTema { /* Título del tema */
  font-size: 1.8rem;
  align-self: center;
  padding: 2rem;
  text-align: center;
}
/*FIN HEADER*/
/*****************************************/
/*CONTENEDOR*/
/*****************************************/
.contenedor { /* Contenedor todo menos header */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: .5rem;
  width: 80%;
  margin: 0 auto;
}
/*****************************************/
/* INDICE DEL TEMA */
/*****************************************/
.indice { /* Indice del tema */
  width: 80%;
  margin: 1rem auto;
}

    .indice li { 
      padding: .2rem;
      list-style-type: none;
      border: 1px solid var(--fondoGris);
    }

    .indice li:hover {
      border: 1px solid rgb(52, 152, 219);
      background-color: rgba(52, 152, 219, .3);
    }
/*FIN INDICE*/
/*****************************************/
/*BOTONES*/
/*****************************************/
.btnArriba {
  width: 120px;
  margin: 1rem 0;
  padding: .3rem 1.5rem;
  border: 3px solid rgba(52, 152, 219, .5 );
  text-align: center;
}

  .btnArriba:hover {
    border: 3px solid rgb(52, 152, 219);
    background-color: rgba(52, 152, 219, .3);
  }
/*FIN BOTONES*/
/*****************************************/
/*TEXTO - TITULOS, SUBTITULOS Y APARTADOS*/
/*****************************************/
.subTitulo_3 {
  border-bottom: 2px dashed var(--aguamar); 
  padding-bottom: 10px;
}

.subTitulo_4 {
  border-left: 10px solid var(--aguamar); 
  padding-left: 10px;
}
/*FIN TEXTO*/
/*****************************************/

nav {

}

  .navHorizontal {

  }
  .navVertical {
    position: absolute;
    display: none;
    width: 100px;
    background-color: rgba(0, 0, 0, .5);
  }
  .navHorizontal li:hover .navVertical {
    display: block;
  }
  .navVertical li:hover {
    background-color: black;
  }
  .navVertical {
    display: block;
    color: white;
    padding: .2rem;
  }
