/* ----------------------------- */
/* RESET Y VARIABLES */
* {
  box-sizing: border-box; 
  text-decoration: none;
  margin: 0;
  padding: 0;
}

:root {
  --fondoGris: #212121;
  --fondoOscuro: #151515;
  --tipografiaClara: #E5E7E9;
  --aguamar: #3498db;
  --azulGrisaceo: #2980B9;
  --morado: #8E44AD;
  --mostaza: #F1C40F;
}

/* ----------------------------- */
/* PRINCIPAL */
body {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  font-size: 1.5rem;
  background-color: var(--fondoGris);
  color: var(--tipografiaClara);
}

/* ----------------------------- */
/* CABECERAS Y MENÚS */
header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 200px;
  font-family: 'Titan One', cursive;
  font-weight: 100;
}
    .navtop {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
      padding: .8rem 10%;
      background-color: var(--aguamar);
    }

    .menuPrincipalAsignatura {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      padding: .5rem 1rem; 
    }
        .menuPrincipalAsignatura a {
          padding: .5rem 1rem;
        } 
            .menuPrincipalAsignatura a:hover {
              background-color: var(--aguamar);
            }

    .tituloTema {
      font-size: 1.8rem;
      align-self: center;
      padding: 2rem;
    }

/* ----------------------------- */
/* SECTIONS */
.contenedor {
  display: flex;
  flex-flow: column nowrap;
  width: 70%;
  margin: 0 auto;
}

section {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  margin: 2rem auto;
}

.indice {
  width: 80%;
  margin: 1rem auto;
}

    .indice li { 
      padding: .2rem;
      list-style-type: none;
    }

    .indice li:hover {
      background-color: rgba(33, 33, 33, .1);
    }
    .indice li:active {
      border: 1px solid rgb(52, 152, 219);
      background-color: rgba(52, 152, 219, .3);
    }

/* ----------------------------- */
/* ARTICLES */
article { 
  width: 100%;
  margin: 1rem auto;
}

.btnArriba {
  width: max-content;
  margin: 1rem 0;
  padding: .3rem 1.5rem;
  border: 3px solid var(--aguamar);
}

.btnArriba:hover {
  background-color: var(--aguamar);
}

/* ----------------------------- */
/* TEXTO */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Titan One', cursive;
  font-weight: 100;
}

h1, h2 {margin-bottom: 2rem;}
h3, h4 {margin-bottom: 1rem;}
h5, h6 {margin-bottom: .5rem;}

p {
  margin-bottom: 1rem;
  padding: 1rem auto;
}

pre {
  background-color: var(--fondoOscuro);
  border-radius: 2rem;
  white-space: pre-wrap;
}

.subTitulo_3 {
  border-bottom: 2px dashed var(--aguamar); 
  padding-bottom: 10px;
}

.subTitulo_4 {
  border-left: 10px solid var(--aguamar); 
  padding-left: 10px;
}

/* ----------------------------- */
/* ENLACES */

a {color: var(--tipografiaClara);}


/* ----------------------------- */
/* LISTAS */
ul, ol {
  margin: 1rem 0 2rem;
  list-style-position: inside;
}

ul { list-style-type: square;}

li ul {
  margin-left: 5%;
}

li {margin: .5rem 0;}
ul li::marker {color: var(--morado);}

/* ----------------------------- */
/* TABLAS */
table {
  margin: 2rem auto;
  border-collapse: collapse;
}
  caption {
    text-align: center;
    font-weight: bold;
    background-color: rgba(52, 152, 219, .5); 
    border: 2px dashed var(--aguamar);
    border-bottom: none;
  }
  tr {
    border: 2px dashed var(--aguamar);
  }
  th, td {
    padding: .5rem 1.5rem;
    border: 2px dashed var(--aguamar);
  }
  
/* ----------------------------- */
/* MEDIA QUERIES */


@media screen and (max-width: 1280px){
  body { 
    font-size: 1.3rem; 
  }
  .tituloTema {font-size: 1.4rem;}
  .contenedor {width: 80%;}
}

@media screen and (max-width: 1024px){
  body { 
    font-size: 1.1rem; 
  }
  .tituloTema {font-size: 1.2rem;}
  .contenedor {width: 90%;}
  
}
@media screen and (max-width: 600px){
  body {
    width: 100%;
    font-size: 1rem;
  }

  .navtop {
    justify-content: space-between;
  }

  #apuntes { display: none;}

  .menuPrincipalAsignatura {
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 1rem 0;
    padding: .2rem 0;
  } 

  .menuPrincipalAsignatura a { padding: .2rem auto;}

  .tituloTema {
    font-size: 1rem;
    padding: .8rem 1rem;
  }

  .apartado { margin-top: 1rem;}
  .contenedor {width: 100%;}
  section { width: 100%; padding: 1.5rem;}
  .indice {width: 100%;}

  article {
    margin: .5rem 0;
    padding: .5rem 0;
  }

  .btnArriba {
    margin: .5rem 0;
    padding: .2rem 1rem;
  }

  p {
    margin-bottom: .5rem;
    padding: .5rem auto;
  }

  ul, ol { margin: 1rem 0;}

  table {
    margin: 1rem auto;
  }

  th, td { padding: .3rem 1rem;}

}