/* RESET _______________________________*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
}
/* VARIABLES ____________________________*/
:root {
  /*Principal -> Colores tarjetas*/
  --cyanIlumina: #03A9F4;
  --magentaIlumina: #673AB7;
  --verdemarIlumina: #009688;
  --rojonaranjaIlumina: #FF5722;
  --fusciaIlumina: #E91E63;
  --azulPapuntesIlumina: #00BCD4;
  /**/
  --azulPrincipal: #01579b;
  --blancoTipologia: #FDFEFE;
  /* naranja -> darkorange */
  --azulPapuntes: #3498db;
  --azulDetalles: #01579b;
  --amarilloNota: #FFFF99;
  --azulClaro: #EBF5FB;
  /* Tamaños FUENTES */
  --fuenteTamañoEncabezados: clamp(14px, 3vw, 22px);
  --fuenteTamañoGeneral: clamp(12px, 2vw, 18px);
  --fuenteTamañoSecundario: clamp(10px, 1.5vw, 16px);
  /* FUENTES */
  --specialSaphery: 'Smooch', cursive;
  --gorditos: 'Titan One', cursive;
  --fuenteGeneral: 'Montserrat', cursive;
}
/* FUENTES
  font-family: 'Montserrat', sans-serif;
  font-family: 'Smooch', cursive;
  font-family: 'Titan One', cursive;
*/


/* ESTRUCTRUA GENERAL ________________________*/
/**************************************************
  Para los archivos index - daw - dev y proyectos
  Proporciona estructura, header y navegación común
**************************************************/
/* CONTENEDOR PRINCIPAL _________________________*/
.main--Principal { 
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: var(--blancoTipologia);
  font-family: 'Montserrat', sans-serif;

  & a {
    color: var(--blancoTipologia)
  }
}

.main--Principal::before {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  background: linear-gradient(to top, #4481eb, #04befe 75%);
}

/* CABECERA __________________________________*/
header { 
  width: 80%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin: 5rem auto 0;
  padding: .5rem;
  font-style: italic;
  font-weight: bold;

  & .navegacion { /* NAVEGACIÓN ______________*/
      display: flex;
      flex-direction: row;
      gap: .5rem;
  }

  & button {
      all: inherit;
      padding: .4rem 1.2rem;
      font-size: 1.2rem;
      border-radius: 5px;
  }

  & button:hover {
      background-color: #4481eb25;
      transition: 1s;
  }
}

/* DAW ______________________________________________*/
/*****************************************************

*****************************************************/
.contenedorDaw {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: center;
}

/* CARD DAW _______________________________________*/
.card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  height: max-content;
  max-width: 350px;
  gap: .5rem;
  border: 3px solid #ffffff50;
  border-radius: 1rem;

  & .cardTitulo {
    font-family: 'Titan One', cursive;
    font-size: 1.5rem;
    text-align: center;
    padding: .5rem;

    & h3 {font-weight: 100;}
  }

  & .cardTema {
    text-align: start;
    font-size: 1rem;
    padding: .5rem 1rem;
  }

  & .cardTema:hover {
    background-color: #4481eb50;
    transition: 1s;
  }
}
/* FIN DAW __________________________________________*/

/* APUNTES __________________________________________*/
/*****************************************************

*****************************************************/

/* ENCABEZADOS ___________________*//*
*** DEPURAR TECNICA PARA VISTA APUNTES ***
.main--Principal :is(h1, h2, h3, h4, h5, h6) {
  font-family: 'Titan One', cursive;
  font-weight: 100;
}

.main--Principal :is(h1, h2) {margin-bottom: 2rem;} 
.main--Principal :is(h3, h4) {margin-bottom: 1rem;} 
.main--Principal :is(h5, h6) {margin-bottom: .5rem;} 

.main--Principal h1 { font-size: 3rem;}
.main--Principal h2 { font-size: 2.5rem;}
.main--Principal h3 { font-size: 2rem;}
/* FIN ENCABEZADOS __________________________________*/

/* ERROR -> SON LA NAVEGACIOIN DE LA VISTA APUNTES */
/* ELIMINAR CUANDO SE DEPURE LA VISTA APUNTES */
.navtop { 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 1rem 10%;
  font-family: 'Titan One', cursive;
  font-weight: 100;
  background-color: var(--azulPrincipal);
  color: white;
}
 .navtop a { color: white;}
/***************************************************/

/* Contenedor principal de la vista apuntes */
.contenedorApuntes { 
  width: clamp( 200px, 95vw , 1024px);
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  font-size: clamp(14px, 2vw, 20px);
}
  /* ____ TITULOS ____*/
  .tituloPrincipal { /* Si no hace falta borrar */
    font-weight: 800;
    background-color: var(--azulPapuntes);
    color: white;
    margin-bottom: 2rem;
    margin-top: 0;
  }
  .tituloTema {
    margin-top: 1rem;
    padding: 1rem;
    border-left: 10px solid var(--azulDetalles);
    color: var(--azulPapuntes);
  }
  .subTitulo {
    margin-top: 3rem;
    padding: .5rem;
    border-top: 5px solid var(--azulDetalles);
    color: var(--azulPapuntes);
  }
  .apartado {
    margin-top: 2rem;
    padding: .5rem 15% .5rem .5rem;
    display: inline-block;
    color: var(--azulClaro);
    background-color: var(--azulDetalles);
  }
  .nota {
    width: 90%;
    margin: 2rem auto;
    padding: 1rem;
    background-color: var(--amarilloNota);
    font-weight: bold;
    font-style: italic;
  }
  /*___________________*/
  /* ____ PARRAFOS ____*/
  .contenedorApuntes p {  
    margin: .5rem auto; 
    padding: .2rem 0;
  }
  /* ____ LISTAS ____*/
  .contenedorApuntes :is(ol, ul) {
    margin: 1rem auto; 
    padding: .5rem;
    background-color: var(--azulClaro);

    & li {
      padding: .5rem;
      list-style-type: square;
      list-style-position: inside;
    }

    & li::marker {
      color: var(--rojonaranjaIlumina);
    }
  }
  
  /* ____ TABLAS ____*/
  .contenedorApuntes table { 
    margin: 2rem 0;
    padding: .5rem;
    background-color: var(--azulPapuntes);

    & caption {
      padding: .5rem;  
      color: var(--azulDetalles);
      font-weight: bold;
      text-align: left;
      background-color: var(--azulClaro);
    }

    & thead {background-color: var(--azulDetalles);}
    & tbody {background-color: var(--azulClaro);}
    
    & th {
      color: var(--azulClaro);
      padding: .3rem 1.2rem;
      background-color: var(--azulDetalles);
    }

    & td {
      padding: .5rem;
      color: var(--azulDetalles);
    }
  }
  /*_________________*/  
  /* MENÚ NAVEGACIÓN */  
  .menuOpcional {
    margin-top: 5rem;
    padding-bottom: .5rem;
    display: flex;
    gap: .5rem;
    border-bottom: 2px dotted darkorange;
  }
    .botonO {
      background-color: white;
      color: var(--azulPapuntes);
      font-size: clamp(12px, 1.5vw, 16px);
      /*font-weight: bold;*/
      padding: .3rem 1.2rem;
      border: 1px solid var(--azulPapuntes);
    }
    .botonO:hover {
      background-color: darkorange;
      color: white;
      border: 1px solid darkorange;
    }
.pieApuntes {
  background-color: var(--azulDetalles);
  min-height: 50px;
  margin-top: .5rem;
  color: #D0D3D4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Smooch', cursive;
}

pre {
  display: inline-block;
  padding: .5rem;
  white-space: pre-line;
  background-color: var(--azulDetalles);
  color: var(--blancoTipologia);
  border: 5px solid var(--azulPapuntes);
}
/* FIN APUNTES ________________________________________*/