/* RESET _______________________________*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
}

/* CALSES GLOBALES _______________________*/

:root {
  --cyanIlumina: #03A9F4;
  --magentaIlumina: #673AB7;
  --verdemarIlumina: #009688;
  --rojonaranjaIlumina: #FF5722;
  --fusciaIlumina: #E91E63;
  --aguamarIlumina: #00BCD4;
  --azulPrincipal: rgb(1, 87, 155);
  --blancoTipologia: #FDFEFE;
  --naranjaContraste: #FF6F00;
  --fondoGris: #212121;
  --fondoOscuro: #151515;
  --tipografiaClara: #E5E7E9;
  --aguamar: #3498db; /* => --azulPapuntes - CORREGIR */
  --azulGrisaceo: #2980B9;
  --morado: #8E44AD;
  --mostaza: #F1C40F;
  /* --------------------------*/
  --azulPapuntes: #3498db;
  --azulDetalles: #01579b;
  --amarilloNota: #FFFF99;
  --azulClaro: #EBF5FB;
}
/* FUENTES
  font-family: 'Montserrat', sans-serif;
  font-family: 'Smooch', cursive;
  font-family: 'Titan One', cursive;
*/

.main--Principal, .main--Indice {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  background-color: var(--azulPrincipal);
  color: var(--blancoTipologia);
  font-family: 'Montserrat', sans-serif;
  font-size: large;
}

/* Barra superior - Indices y apuntes, se incluye botón hacia principal y nombre asignatura */
.navtop { 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 1rem 10%;
  font-family: 'Titan One', cursive;
  font-weight: 100;
  background-color: var(--azulPrincipal);
  color: white;
}
 .navtop a { color: white;}

.temaIndice, .articuloApuntes {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
}

.main--Principal a, .main--Indice a{
  color: var(--blancoTipologia)
}

/* Botón para ir hacia arriba en la página */
.btnArriba {
  width: 120px;
  margin: 1rem 0;
  padding: .3rem 1.5rem;
  border: 3px solid rgba(52, 152, 219, .5 );
  text-align: center;
}

  .btnArriba:hover {
    border: 3px solid rgb(52, 152, 219);
    background-color: rgba(52, 152, 219, .3);
  }
/* ______________________________________ */

/* CLASES VISTA PRINCIPAL ________________*/

/* ENCABEZADOS ___________________*/
.main--Principal :is(h1, h2, h3, h4, h5, h6) {
  font-family: 'Titan One', cursive;
  font-weight: 100;
}

.main--Principal :is(h1, h2) {margin-bottom: 2rem;} 
.main--Principal :is(h3, h4) {margin-bottom: 1rem;} 
.main--Principal :is(h5, h6) {margin-bottom: .5rem;} 

.main--Principal h1 { font-size: 3rem;}
.main--Principal h2 { font-size: 2.5rem;}
.main--Principal h3 { font-size: 2rem;}

/*    Presentacion - Titulo principal SapheryDesings */
.presentacion {
  font-family: 'Smooch', cursive;
  font-size: 8rem;
  text-align: center;
}

/*       Titulos - Son los titulos de la tres secciones daw, proyectos y devAcademy*/
.tituloSeccion {
  margin: 1rem 0;
  font-family: 'Titan One', cursive;
  font-weight: 100;
}

.daw {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 20px;
  padding: 10px 0;
}

/*        Card - Prototipo de tarjeta */
.card {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 300px;
  height: 200px;
  background-color: rgba(2, 119, 189, .4);
  background-color: var(--cyanIlumina);
  font-size: 1rem;
} 
  .card div { margin: auto; text-align: center;}
  .card div h5 { font-family: 'Montserrat', sans-serif; font-weight: 600;}
  .segundoT { background-color: var(--magentaIlumina);}
  .tercerT { background-color: var(--verdemarIlumina);}
  .inactiva { background-color: rgba(0, 0, 0, .5); color: rgba(0, 0, 0, .5);}
/*      Fin Card      */

/* ______________________________________ */

/* CLASES VISTA INDICE ___________________*/
.temaIndice {
  width: 80%;
  margin-bottom: 2rem;
}
.temaIndice span {
  padding: 1rem;
  font-weight: bold;
  background-color: var(--aguamar);
}

.temaIndice ul {
  border: 5px dashed rgba(255, 255, 255, 0.1);
}
.temaIndice ul li {
  border-bottom: 5px dashed rgba(255, 255, 255, 0.1);
}

  .temaIndice ul li:last-child {
    border: none;
  }
  .temaIndice ul li:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .temaIndice ul li a {
    display: block;
    padding: 1rem 2rem;
  }
/* ______________________________________ */

/* CLASES VISTA APUNTES __________________*/
/* Contenedor principal de la vista apuntes */
.contenedorApuntes { 
  width: 60%; 
  margin: auto;
  font-family: 'Montserrat', sans-serif;
}
  /* ____ TITULOS ____*/
  .tituloPrincipal { /* Si no hace falta borrar */
    font-weight: 800;
    background-color: var(--azulPapuntes);
    color: white;
    margin-bottom: 2rem;
    margin-top: 0;
  }
  .tituloTema {
    margin-top: 1rem;
    padding: 1rem;
    border-left: 10px solid var(--azulDetalles);
    color: var(--azulPapuntes);
  }
  .subTitulo {
    margin-top: 3rem;
    padding: .5rem;
    border-top: 5px solid var(--azulDetalles);
    color: var(--azulPapuntes);
  }
  .apartado {
    margin-top: 2rem;
    padding: .5rem 15% .5rem .5rem;
    display: inline-block;
    color: var(--azulClaro);
    background-color: var(--azulDetalles);
  }
  .nota {
    width: 92%;
    margin: 1rem auto;
    padding: 1rem;
    background-color: var(--amarilloNota);
    font-size: 1.1rem;
    font-weight: bold;
    font-style: italic;
  }
  /*___________________*/
  /* ____ PARRAFOS ____*/
  .contenedorApuntes p {  
    margin: 1rem auto; 
    padding: .5rem 0;
  }
  /* ____ LISTAS ____*/
  .contenedorApuntes :is(ol, ul) {
    margin: 1rem auto; 
    padding: .5rem;
    background-color: var(--azulClaro);
  }
  .contenedorApuntes li {
    padding: .5rem;
    list-style-type: square;
    list-style-position: inside;
  }
  /* ____ TABLAS ____*/
  .contenedorApuntes table { 
    margin: 5rem auto;
    border-collapse: collapse;
  }
  .contenedorApuntes caption {
      text-align: left;
      margin-bottom: 1rem;
    }
    .contenedorApuntes th {
      color: var(--azulClaro);
      padding: .3rem 1.2rem;
      border: 3px dashed var(--azulDetalles);
      border-right: 3px dashed var(--azulClaro);
      background-color: var(--azulDetalles);
    }
    .contenedorApuntes th:last-child { border-right: 3px dashed var(--azulDetalles);}
    .contenedorApuntes td {
      padding: .5rem;
      color: var(--azulDetalles);
      border: 3px dashed var(--azulDetalles);
      background-color: var(--azulClaro);
    }
  /*_________________*/  
  /* MENÚ NAVEGACIÓN */  
  .menuOpcional {
    margin-top: 5rem;
    padding-bottom: .5rem;
    display: flex;
    gap: .5rem;
    border-bottom: 2px dotted darkorange;
  }
    .botonO {
      background-color: white;
      color: var(--azulPapuntes);
      font-weight: bold;
      padding: .3rem 1.2rem;
      border: 1px solid var(--azulPapuntes);
    }
    .botonO:hover {
      background-color: darkorange;
      color: white;
      border: 1px solid darkorange;
    }
.pieApuntes {
  background-color: var(--azulDetalles);
  min-height: 50px;
  margin-top: .5rem;
  color: #D0D3D4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Smooch', cursive;
}


/***********************************************/
@media screen and (max-width: 1280px){ 
  /* VISTA APUNTES */
  .contenedorApuntes { width: 70%;}
}
@media screen and (max-width: 1024px){ 
  /* VISTA APUNTES */
  .contenedorApuntes { width: 80%;}
}
@media screen and (max-width: 800px){ 
  /* VISTA APUNTES */
  .contenedorApuntes { width: 90%;}
}
@media screen and (max-width: 480px){ 
  /* VISTA APUNTES */
  .contenedorApuntes { width: 100%;}
  table {
    margin: 1rem auto;
  }
  .tituloTema { 
    border: none;
    padding-left: .1rem;
    background-color: darkseagreen;
  }
}

/* ______________________________________ */