* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --azulPrincipal: rgb(1, 87, 155);
  --blancoTipologia: #FDFEFE;
  --naranjaContraste: #FF6F00;
/* Fuentes
  font-family: 'Montserrat', sans-serif;
  font-family: 'Smooch', cursive;
  font-family: 'Titan One', cursive;
*/
}
/*    General    */
body {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: min-content;
  grid-gap: 15px;
  background-color: var(--azulPrincipal); 
  color: var(--blancoTipologia);
  font-family: 'Montserrat', sans-serif;
  font-size: large;
}

.tituloSeccion {
  grid-column: 2 /span 4;
  margin: 1rem 0;
  font-family: 'Titan One', cursive;
  font-weight: 100;
}

h1 { font-size: 3rem;}
h2 { font-size: 2.5rem;}
h3 { font-size: 2rem;}

a {
  color: var(--blancoTipologia);
}

/**********************/
/*    Presentacion    */
.presentacion {
  grid-column: 1 / span 6;
  margin-top: 2rem;
  margin-bottom: 100px;
  font-family: 'Smooch', cursive;
  font-size: 8rem;
  text-align: center;
}

/**********************/
/*        Card        */
.card {
  display: flex;
  flex-flow: column wrap;
}
  .imgCard {
    max-height: 150px;
  }
    .imgCard img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  .descripcionCard {
    min-height: 140px;
    padding: .5rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
  }

/**********************/
/*        Daw         */
  .asignaturaUno {
    grid-column: 2 /span 1;
    grid-row: 3;
  }
  .asignaturaDos {
    grid-column: 3 /span 1;
    grid-row: 3;
  }
  .asignaturaTres {
    grid-column: 4 /span 1;
    grid-row: 3;
  }
  .asignaturaCuatro {
    grid-column: 5 /span 1;
    grid-row: 3;
  }
  .asignaturaCinco {
    grid-column: 2 /span 1;
    grid-row: 4;
  }
  .asignaturaSeis {
    grid-column: 3 /span 1;
    grid-row: 4;
  }
  .asignaturaSiete {
    grid-column: 4 /span 1;
    grid-row: 4;
  }
  .asignaturaOcho {
    grid-column: 5 /span 1;
    grid-row: 4;
  }
  .asignaturaNueve {
    grid-column: 2 /span 1;
    grid-row: 5;
  }
  .asignaturaDiez {
    grid-column: 3 /span 1;
    grid-row: 5;
  }
  .asignaturaOnce {
    grid-column: 4 /span 1;
    grid-row: 5;
  }
  .asignaturaDoce {
    grid-column: 5 /span 1;
    grid-row: 5;
  }
  .asignaturaTrece {
    grid-column: 2 /span 1;
    grid-row: 6;
  }
/**********************/
/*       Apuntes      */

/**********************/
/*      Proyectos     */
