/* RESET _______________________________*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
}

:root {
  --azulPrincipal: rgb(1, 87, 155);
  --blancoTipologia: #FDFEFE;
  --naranjaContraste: #FF6F00;
  --fondoGris: #212121;
  --fondoOscuro: #151515;
  --tipografiaClara: #E5E7E9;
  --aguamar: #3498db;
  --azulGrisaceo: #2980B9;
  --morado: #8E44AD;
  --mostaza: #F1C40F;
/* Fuentes
  font-family: 'Montserrat', sans-serif;
  font-family: 'Smooch', cursive;
  font-family: 'Titan One', cursive;
*/
}

body { 
  font-size: 1.5rem;
  background-color: var(--fondoGris);
  color: var(--tipografiaClara);
}

header { 
  width: 100%;
  min-height: 200px;
  font-family: 'Titan One', cursive;
  font-weight: 100;
}

section {
  width: 80%;
  margin: 0 auto;
}

article { 
  /*width: 100%; ELIMINAR*/
  margin: 1rem auto; /*REVISION ESPACIOS*/
}
  article ul, ol { 
    margin: 1rem 0 2rem;
    list-style-position: inside;
  }

  article ul { list-style-type: square;}

    article li ul {
      margin-left: 5%;
    }

    article li {margin: .5rem 0;}
    article ul li::marker {
      color: var(--aguamar); 
      font-size: 1.5rem;
    }

/* ENCABEZADOS ___________________*/
h1, h2, h3, h4, h5, h6 {
  font-family: 'Titan One', cursive;
  font-weight: 100;
}

h1, h2 {margin-bottom: 2rem;} /*REVISION ESPACIOS*/
h3, h4 {margin-bottom: 1rem;} /*REVISION ESPACIOS*/
h5, h6 {margin-bottom: .5rem;} /*REVISION ESPACIOS*/

h1 { font-size: 3rem;}
h2 { font-size: 2.5rem;}
h3 { font-size: 2rem;}

a {
  color: var(--blancoTipologia);
}

p {
  margin-bottom: 1rem; /*REVISION ESPACIOS*/
  padding: 1rem auto;  /*REVISION ESPACIOS*/
}

/*************************************************************************************/
/* CLASES                                                                            */
/*************************************************************************************/
.portfolio {
  background-color: var(--azulPrincipal); 
  color: var(--blancoTipologia);
  font-family: 'Montserrat', sans-serif;
  font-size: large;
}

.contenedorPortfolio {
  display: flex;
  flex-direction: column;
}

/*    Presentacion    *//* Titulo principal SapheryDesings */
.presentacion {
  font-family: 'Smooch', cursive;
  font-size: 8rem;
  text-align: center;
}

/*       Titulos       *//* Son los titulos de la tres secciones daw, proyectos y devAcademy*/
.tituloSeccion {
  margin: 1rem 0;
  font-family: 'Titan One', cursive;
  font-weight: 100;
}

.daw {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 20px;
  padding: 10px 0;
}

/*        Card        *//* Prototipo de tarjeta */
.card {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 300px;
  height: 400px;
  background-color: rgba(2, 119, 189, .4);
  /*box-shadow: 0 0 2px 2px rgba(2, 119, 189, .8);*/
  /*border: 1px dashed darkorange;*/
  font-size: 1rem;
} 
    .tituloCard, .footerCard {
      display: flex;
      flex-direction: column;
    }
    .tituloCard {
      height: 35px; 
      font-size: 1.2rem;
      text-align: center;
    }
    .tituloCard strong {margin: auto; }
    .card img {
      height: 150px;
      min-width: 100%;
      object-fit: cover;
      background-color: rgba(255, 255, 255, .1);
    }
    .descripcionCard {
      /*height: 130px;*/
      padding: .2rem;
      flex-grow: 5;
    }
    .footerCard {
      height: 35px;
      background-color: rgba(255, 255, 255, .1);
    }
    .footerCard span { margin: auto 0; padding: .2rem;}
/*********************/


/****** MEDIASQ ******/
@media screen and (min-width:768px) and (max-width: 1024px){
  .presentacion {font-size: 6rem;}
  .card {width: 330px;}
}

@media screen and (max-width: 425px) and (max-width: 768px){
  .presentacion {font-size: 6rem;}
  .card {width: 250px;}
}

@media screen and (max-width: 425px){
  section {width: 98%;}
  .presentacion {font-size: 3.5rem;}
  .tituloSeccion {
    text-align: center;
    font-size: 1.6rem;
  }
  .card {width: 100%;}
  .descripcionCard {font-size: 1rem;}
}