* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}


header {
    display: flex;
    padding: 2rem;
    font-family: 'Oswald', sans-serif;
    color: orange;
    background-color: #4A235A;

    & h1 {
        padding: 1rem;
    }
}

a {
    color: black;
    text-decoration: none;
}

.botonVolver {
    display: inline-block;
    margin: 1rem 0;
    padding: .1rem 1.5rem;
    
    background-color: #4A235A;

    & a {color: orange;}
}

/* >>> Indice <<<*/
.contenedorIndice {
    width: 80%;
    margin: 1rem auto;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-flow: row wrap;
    gap: 1rem 2rem;
    justify-content: space-evenly;

    & ul {
        width: 45%;
        min-width: 300px;
        padding: 0;
    }
    & ul li{
        padding: .4rem 0;
        list-style-type: none;
    }
    & ul li:hover{
        background-color: #F4ECF7;
        font-weight: bold;
    }
}
/*****************/
.contenedor {
    margin: 0 2rem 2rem;
    font-family: 'Montserrat', sans-serif;
}

p, h2, h3, h4 {
    margin: 1rem 0;
}

table {
    background-color: #4A235A;
    & th, td {
        padding: .5rem 1rem;
    }
    & th {
        background-color: #F4ECF7;
    }
    & td {
        background-color: white;
    }
}

pre {
    white-space: pre-line;
}