* {
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    padding: 2rem;
    font-family: 'Oswald', sans-serif;
    color: orange;
    background-color: #4A235A;

    & h1 {
        padding: 1rem;
    }
}

.contenedor {
    margin: 0 2rem;
    font-family: 'Montserrat', sans-serif;
}

.indice {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    width: 80%;
    margin: 3rem auto;
    padding: 1rem;
    border: 5px solid #4A235A;
    background-color: #F4ECF7;
    font-weight: bold;
    & li {
        padding: .2rem .8rem;
        list-style-position: outside;
    }
}

p, h2, h3, h4 {
    margin: 1rem 0;
}

table {
    background-color: #4A235A;
    & th, td {
        padding: .5rem 1rem;
    }
    & th {
        background-color: #F4ECF7;
    }
    & td {
        background-color: white;
    }
}

pre {
    white-space: pre-line;
}